!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js(lang='en', ng-app='MyApp')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title WebPaige Foundation

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    block icons

    // build:css({.tmp,app}) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body

    block iestuff

    #wrap

      block navbar

      .container(ng-view='')

    block footer

    // block analytics

    script(data-main='scripts/main', src='vendors/requirejs/require.js')