.bs-header
  .container
    h1 Partial 2
    p
      | Aliquam mollis elit nec nisl varius, in pretium velit pellentesque. Nam in imperdiet leo, fringilla commodo
      | dolor. Donec neque massa, ullamcorper sit amet auctor ac, viverra sit amet enim Phasellus adipiscing porttitor
      | lectus, ac consequat turpis convallis quis. Nulla ac arcu elementum, venenatis lacus id, lacinia tellus.
      | Duis eget enim orci. Donec justo libero, convallis non tempor id, aliquet commodo nunc.