<div class="bs-masthead">
  <div class="container">
    <h1 style="font-size: 62px">WebPaige Foundation</h1>
    <h2>(Angular-Seed-RequireJS)</h2>
    <p class="lead">
      A rapid application development boilerplate / framework compilation based on angular, generator-angular,
      angular-seed, requirejs, jade, sass, twitter bootstrap, html5 boilerplate and some handy grunt plugins
    </p>
    <p><a href="https://github.com/Cengizism/angular-seed-requirejs/archive/master.zip" class="btn btn-outline btn-lg">Download Project</a></p>
  </div>
</div>