<div class="bs-header">
  <div class="container">
    <h1>Partial 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>
<div class="bs-old-docs">
  <div class="container"><strong><a href="#">Maecenas sit amet</a></strong> aenean mi sapien, imperdiet malesuada dolor in, pulvinar euismod dolor.<a href="#"> Integer hendrerit</a> get tellus.</div>
</div>
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-lg-3">
      <div class="bs-sidebar">
        <ul class="nav bs-sidenav">
          <li><a href="#">Sidemenu item 1</a></li>
          <li><a href="#">Sidemenu item 2</a></li>
          <li><a href="#">Sidemenu item 3</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="download">Donec quis libero</h1>
        </div>
        <p class="lead">
          Pellentesque volutpat odio elit, a auctor massa blandit in. Proin dapibus sem sit amet augue porttitor
          lacinia. Nam placerat est dui, ac vulputate elit mattis sed. Donec pellentesque ac nulla id gravida.
        </p>
        <h3>Donec nunc dolor, interdum</h3>
        <p>
          Aliquam erat volutpat. Quisque ipsum metus, convallis non lectus sed, volutpat vestibulum magna.
          Pellentesque eu tellus porttitor, pretium est et, egestas magna. Donec sit amet nunc eget nisi sodales
          feugiat. Donec placerat lobortis lorem, nec suscipit ipsum facilisis at. Phasellus adipiscing porttitor
          lectus, ac consequat turpis convallis quis. Nulla ac arcu elementum, venenatis lacus id, lacinia tellus.
          Duis eget enim orci. Donec justo libero, convallis non tempor id, aliquet commodo nunc.
        </p>
        <div id="callout-less-compilation" class="bs-callout bs-callout-warning">
          <h4>Service integration</h4>
          <p>This is originating from a service.
            <div id="test">Hi {{name}}</div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>